:root {
    --homepage-color: #a50a0a;
    --secondarry-color: #0aa517;
    /* hex color: #2C6F8C */
    --primary-color: #0aa517;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    /* max-width: 900px; */
    margin: auto;
    /* background-image: url(./images/undraw_Problem_solving_re_4gq3.svg) */
  }
  .quizNavigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
  }
  
  /* .quizNavigation h3 {
    padding: 0.3rem;
    color: rgb(46, 8, 150);
    text-decoration: none;
  } */
  
  .list {
    list-style: none;
    text-align: right;
    padding-inline-start: 0rem;
  }
  
  .item-list {
    display: inline;
  }
  
  .list-link {
    color: var(--secondary-color);
    padding: 0 0.5rem;
    text-decoration: none;
  }
  
  label {
    text-align: center;
    font-size: 1rem;
    font-variant: small-caps;
    /* font-style: oblique; */
    color: var(--secondarry-color);
    font-weight: bolder;
  }
  input {
    width: 150px;
    /* align-items: center; */
    /* text-align: center; */
    display: block;
    margin: 0 auto;
    border-color: var(--secondarry-color);
    margin-bottom: 2rem;
    border-width: 3px;
    border-left-color: black;
  }
  button {
    display: block;
    margin: 0 auto;
    border-color: var(--secondarry-color);
    /* text-decoration-color: var(--secondarry-color); */
    color: var(--secondarry-color);
    margin-bottom: 1rem;
    width: 100px;
    border-radius: 1rem;
  }
  #outPutBox {
    color: var(--secondarry-color);
    text-align: center;
  }
  
  nav ul {
    /* width: 1000px; */
    /* margin: 0 auto; */
  }
  nav li {
    /* line-height: 15px; */
    /* float: right; */
    /* width: 150px; */
    /* text-align: center; */
  }
  
  .input-wrapper {
    margin: auto;
    text-align: center;
  }
  